# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Overdue.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\School\IEPRFDV\Unity-Overdue\Overdue\.idea\.idea.Overdue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
